.App h1 {
  text-align: center;
}

.game {
  width: 95%;
  margin: 0 auto;
}

.game-container {
  text-align: left;
}

.card {
  background-color: transparent;
  width: 175px;
  height: 250px;
  perspective: 1000px; 
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  margin-bottom: 25px;
}

.card.matched .inner{
  border: 3px solid rgb(0, 156, 65);
}

.card .inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 3px solid #000;
  border-radius: 25px;
}

.card-img, .card-txt{
  width: 160px;
  vertical-align: middle;
  margin: 0px auto;
  margin-top:25px;
}
.card-txt p {
  font-size: 1.2em;
}

.card.show .inner,
.card.matched .inner {
  transform: rotateY(180deg);
}
.card.show.max .inner {
  border: 3px dashed rgb(255, 8, 0);
}

.card .front, .card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 25px;
  text-align: center;
}

.card .front {
  background-image: url("../img/back.jpg");
}

.card .back {
  animation-delay: 2s;
  transform: rotateY(180deg);
}
